<app-navbar [navLight]="true"></app-navbar>

<section class="bg-half-170 d-table w-100" style="background: url('assets/images/bg/02.jpg') center;">
    <div class="bg-overlay bg-gradient-overlay-2"></div>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-12">
                <div class="title-heading text-center">
                    <h5 class="heading fw-semibold sub-heading text-white title-dark">NFTs Guidance</h5>
                    <p class="text-white-50 para-desc mx-auto mb-0">Please check How to buy & Sell NFTs?</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="position-middle-bottom">
            <nav aria-label="breadcrumb" class="d-block">
                <ul class="breadcrumb breadcrumb-muted mb-0 p-0">
                    <li class="breadcrumb-item"><a routerLink="/">Superex</a></li>
                    <li class="breadcrumb-item"><a routerLink="/helpcenter-overview">Help Center</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Guidance</li>
                </ul>
            </nav>
        </div>
    </div><!--end container-->
</section><!--end section-->
<div class="position-relative">            
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="row">
            <div *ngFor="let item of guidanceData" class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <h5>{{item.title}}</h5>
                <ul class="list-unstyled mt-4 mb-0">
                    <li class="mt-2 ms-0" *ngFor="let el of item.data"><a href="#" (click)="$event.preventDefault()" class="text-muted"><i class="mdi mdi-arrow-right text-primary me-2"></i>{{el}}</a></li>
                </ul>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <app-contact-us></app-contact-us>
</section>
<app-footer></app-footer>
