<div class="row justify-content-center" [ngClass]="title==false ? 'd-none' : '' ">
    <div class="col">
        <div class="section-title text-center mb-5 pb-3">
            <h4 class="title mb-4">Liste des psychologues</h4>
        </div>
    </div><!--end col-->
</div><!--end row-->

<ng-container *ngIf="showAll; else elseTemplate">
    <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-sm-2 row-cols-1 g-4">
        <div class="col" *ngFor="let item of nftdata | slice : 4 : 12 ">
            <div class="card nft-items nft-primary rounded-md shadow overflow-hidden mb-1 p-3">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <img [src]="item.creator1" alt="user" class="avatar avatar-sm-sm img-thumbnail border-0 shadow-sm rounded-circle">
                        <a href="#" (click)="$event.preventDefault()" class="text-dark small creator-name h6 mb-0 ms-2">{{item.creatorName}}</a>
                    </div>
                </div>
    
                <div class="nft-image rounded-md mt-3 position-relative overflow-hidden">
                    <a [routerLink]="['/item-detail-one', item.id]"><img [src]="item.image" class="img-fluid" alt=""></a>
                    <div class="position-absolute top-0 start-0 m-2" *ngIf="item.tag">
                        <span class="badge badge-link bg-primary">{{item.tag}}</span>
                    </div>
                    <div class="position-absolute top-0 end-0 m-2">
                        <span class="like-icon shadow-sm"><a href="#" (click)="$event.preventDefault()" class="text-muted icon"><i class="mdi mdi-18px mdi-heart mb-0"></i></a></span>
                    </div>                                
    
                    <div class="position-absolute bottom-0 start-0 m-2 bg-gradient-primary text-white title-dark rounded-pill px-3">
                    </div>
                </div>
    
                <div class="card-body content position-relative p-0 mt-3">
                    <a [routerLink]="['/item-detail-one', item.id]" class="title text-dark h6">{{item.name}}</a>
    
                    <div class="d-flex align-items-center justify-content-between mt-3">
                        
                    </div>
                </div>
            </div>
        </div><!--end col-->
    </div>
</ng-container>
<ng-template #elseTemplate>
    <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-sm-2 row-cols-1 g-4">
        <div class="col" *ngFor="let item of nftdata | slice : 4 : 8 ">
            <div class="card nft-items nft-primary rounded-md shadow overflow-hidden mb-1 p-3">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <img [src]="item.creator1" alt="user" class="avatar avatar-sm-sm img-thumbnail border-0 shadow-sm rounded-circle">
                        <a href="#" (click)="$event.preventDefault()" class="text-dark small creator-name h6 mb-0 ms-2">{{item.creatorName}}</a>
                    </div>
                </div>
    
                <div class="nft-image rounded-md mt-3 position-relative overflow-hidden">
                    <a [routerLink]="['/item-detail-one', item.id]"><img [src]="item.image" class="img-fluid" alt=""></a>
                    <div class="position-absolute top-0 start-0 m-2" *ngIf="item.tag">
                        <span class="badge badge-link bg-primary">{{item.tag}}</span>
                    </div>
                    <div class="position-absolute top-0 end-0 m-2">
                        <span class="like-icon shadow-sm"><a href="#" (click)="$event.preventDefault()" class="text-muted icon"><i class="mdi mdi-18px mdi-heart mb-0"></i></a></span>
                    </div>                                
    
                    <div class="position-absolute bottom-0 start-0 m-2 bg-gradient-primary text-white title-dark rounded-pill px-3">
                    </div>
                </div>
    
                <div class="card-body content position-relative p-0 mt-3">
                    <a [routerLink]="['/item-detail-one', item.id]" class="title text-dark h6">{{item.name}}</a>
    
                    <div class="d-flex align-items-center justify-content-between mt-3">
                        <div class="">
                            <small class="rate fw-bold">{{item.amount}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end col-->
    </div>
</ng-template>
